.edit-profile-container {
  max-width: 900px;
  margin: auto;
}

.card {
  background-color: #fff;
  border: none;
}

/* .form-control-lg,
.form-select-lg {
  font-size: 0.95rem;
  padding: 0.6rem 0.75rem;
} */

.btn-primary {
  background: linear-gradient(135deg, #007bff, #00bfff);
  border: none;
}

.btn-primary:hover {
  background: linear-gradient(135deg, #0056b3, #0099cc);
}

.edit-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: white;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.edit-icon i {
  font-size: 14px;
  color: #333;
}
